$primaryColor: #c59b59;
$primaryTwo: #483519;
$secondaryColor: #b58640;
$darkTint1: #2d2210;
$lightTint1: #f1f8be;
$lightTint2: #dceb70;
$grey1: #555;
$grey2: #333;
$grey3: #cccc;
$greyLightestOnWhite: #767676;
$white: #fff;
$green: #8cff98;
$focusColor: rgba(202, 137, 80, 0.329);

// $primaryColor: #e67e22;
// $primaryTwo: #eb9843;
// $secondaryColor: #f1ce30;
// $darkTint1: #cf711f;
// $lightTint1: #fdf2e9;
// $lightTint2: #fae5d3;
// $grey1: #555;
// $grey2: #333;
// $grey3: #cccc;
// $greyLightestOnWhite: #767676;
// $white: #fff;
// $green: #51cf66;
// $focusColor: rgba(202, 137, 80, 0.329);
